
body {
background-color: pink;
}

h1 {
    font-size: 1.2em;
    color: #999;
    margin-bottom: 0;
  }

#p {background- color:grey;
font-family: verdana;
font-size: 20px;}

table{ width:300px;}
 border:2px solid peach
}

#Pogi { 
width: 128px;
height: 128px;
}
