
body {
background-color: pink;
}

h1 {
background-color: red;
 text-align: center;
}

#p {background- color:grey;
font-family: verdana;
font-size: 20px;}

table{ width:300px;}
 border:2px solid peach
}

#Pogi { 
width: 128px;
height: 128px;
}
